.DS_Store
node_modules/
dist/


# local env uploads
.env
.env.*

# Log uploads
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and uploads
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


serviceAccount.json